aiohttp
aiosignal
alembic
antlr4-python3-runtime
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
asteroid-filterbanks
asttokens
async-timeout
attrs
audioread
av
Babel
backcall
backports.cached-property
beautifulsoup4
bleach
Bottleneck
Brotli
certifi
cffi
charset-normalizer
click
cmaes
colorama
colorlog
comm
commonmark
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
docopt
einops
entrypoints
executing
fastjsonschema
ffmpeg
ffmpeg-python
ffpyplayer
filelock
fonttools
frozenlist
fsspec
future
greenlet
hmmlearn
huggingface-hub
HyperPyYAML
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
julius
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
kiwisolver
librosa
lightning-utilities
llvmlite
lxml
Mako
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
more-itertools
mpmath
multidict
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
noisereduce
notebook
notebook_shim
numba
numexpr
numpy
omegaconf
openai-whisper
optuna
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pip
pkgutil_resolve_name
platformdirs
ply
pooch
praat-parselmouth
primePy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
PyAudio
pycparser
pydub
Pygments
pyOpenSSL
pyparsing
PyQt5-sip
pyrsistent
PySocks
python-dateutil
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
resampy
rich
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
seaborn
semver
Send2Trash
sentencepiece
setuptools
shellingham
simpleaudio
simplejson
singledispatchmethod
sip
six
sniffio
sortedcontainers
soundfile
soupsieve
speechbrain
SQLAlchemy
stack-data
sympy
tabulate
tensorboardX
terminado
threadpoolctl
tiktoken
tinycss2
toml
tomli
torch
torch-audiomentations
torch-pitch-shift
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
yarl
zipp